<!-- /*
* name : Seungkoo Kim
* id : 301150666
* file Name : user.ejs
* date : 23/10/2021
*/ -->

<!DOCTYPE html>
<html lang="en">
<!-- Head Section -->
<head>
  <%- include('partials/head.ejs'); %>
</head>
<!-- Main Navigation Section -->
<header>
  <%- include('partials/header.ejs'); %>
</header>
<!-- Content Section -->
<main>
  <div class="container">
    <%- include('content/' + page + '.ejs'); %>
  </div>
</main>
<!-- Footer Section-->
<footer>
  <%- include('partials/footer.ejs'); %>
</footer>
<!-- JavaScript Section -->
<script src="./jquery/dist/jquery.min.js"></script>
<script src="./bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
<script src="./Scripts/app.js"></script>
</body>
</html>