<section class="projects-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">Projects</h1>
        </div>
      </div>
      <div class="col">
        <img src="..." class="img-fluid" alt="Responsive image"></div>
    </div>
      <div class="row">
        <img src="/img/project_gallery.png" class="d-block w-50" alt="Photo Gallery Project">
        <div class="col">
          Photo gallery website using JavaScript, HTML and CSS highlighting the Toronto Raptors championship parade.
        </div>
      </div>
      <div class="row">
        <img src="/img/project_gallery.png" class="d-block w-50" alt="Photo Gallery Project">
      </div>
      <div class="row">
        <img src="/img/project_gallery.png" class="d-block w-50" alt="Photo Gallery Project">
      </div>
    </div>
  </div>
</section>