<!-- About Me Page -->

<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-4">About Me </h1>
                    <p class="lead"> -SOFTWARE DEVELOPER</p>
                </div>
            </div>
            <div class="col"> 
                <br>
                <img src="/Assets/images/personal.jpeg" class="border-5 border-dark rounded-circle w-50" alt="my photo">
            </div>
        </div>
    </div>
</div>

            
            
