<!-- About Me Page -->
<section class="about_area">
<div class="about_area">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-1">About Me </h1>
                    <p class="lead"> My name is Yonas Berhane and I am a Software Engineering student at Centennial College. <br>I have a Bachelors of Science degree in Chemistry and have some experience working in the chemical industry.<br> I also have experience operating an ecommerce store.</p>
                </div>
            </div>
            <div class="col"> 
                <br>
                <img src="/Assets/images/personal.jpeg" class="border-4 border border-dark rounded-circle w-50" alt="my photo">
            </div>
        </div>
    </div>
</div>
</section>

            
            
