<!--Contact Me Page-->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">
                    Welcome! <br />
                    I'm Yonas, a Software Developer.
                </h1>
                <p class="lead">Let's work together!</p>
                <a href="/about"class="btn btn-dark btn-lg" >About Me</a>
            </div>
        </div>
            <div class="col">
                <img src="/Assets/images/mac.jpeg" alt="Software Dev" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-4">Contact Me</h1>
                </div>
            </div>
            <div class="col">
                <img src="..." class="img-fluid" alt="Responsive image">
            </div>
        </div>

            <form>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">First Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Last Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Contact Number</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">Message</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3 form-check">
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
    