<!--Contact Me Page-->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-1">Contact Me</h1>
                    <h4>Yonas Berhane <br>yonas-berhane23@live.ca</h4>   
                   
                </div>
            </div>
            <div class="col">
                <br>
                    <a href="mailto: yonas-berhane23@live.ca" class="btn btn-dark btn-lg">Send Email </a>
                </div>
            </div>
        <div class="row">
            <form>
                <div class="col">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="col">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="exampleInputEmail1" class="form-label">Contact Number</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="col">
                <label for="exampleInputEmail1" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">Message</span>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3 form-check"><br>
                    <!-- Sends user to Home instead of validating and sending form -->
                    <a href="/home" class="btn btn-dark btn-lg">Submit </a>
                </div>
            </div>
        </div>
    </form>
</section>