<!--Home Page -->
<section class="home-area>">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-6">
                        Welcome! <br />
                        I'm Yonas, a <br>Software Developer.
                    </h1>
                    <p class="lead">Let's work together!</p>
                    <a href="/about"class="btn btn-dark btn-lg" >About Me</a>
                </div>
            </div>
                <div class="col">
                    <img src="/Assets/images/mac.jpeg" alt="Software Dev" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>