<!--Home Page -->
<div class="home-area">
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">Welcome! <br> I'm Yonas, a Software Developer. </h1>
                <p class="lead"> Let's work together! </p>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-4">
            <button type="button" class="btn btn-dark btn-lg">About Me </button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-dark btn-lg">Services</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-dark btn-lg">Contact</button>
        </div>
    </div>
</div>
</div>




