<!--Projects Page -->
<section class="projects-area">
  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">Projects</h1>
        </div>
      </div>
      <div class="row">
        <img src="/Assets/images/project_gallery.png" class="d-block w-50" alt="Photo Gallery Project">
      </div>
        <div class="row">
          <p>Photo gallery website using JavaScript, HTML and CSS highlighting the Toronto Raptors championship parade.</p>
        </div>
      </div>
      <div class="row">
        <img src="" class="d-block w-50" alt="Project">
      </div>
      <div class="row">
        <img src="" class="d-block w-50" alt="Project">
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row align-items-center projects">
      <div class="col">
        <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">Projects</h1>
        </div>
      </div>
    </div>
    <div class="row align-items-center projects">
      <div class="col">
        <div class="card mb-3">
          <img src="/Assets/images/project_gallery.png" class="card-img-top" alt="Photo Gallery">
          <div class="card-body">
            <h5 class="card-title">Photo Gallery Project</h5>
            <p class="card-text">Photo gallery website using JavaScript, HTML and CSS highlighting the Toronto Raptors
              championship parade.</p>
          
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3">
          <img src="/Assets/images/Twitch.png" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
            <h5 class="card-title">Projects of Interest </h5>
            <p class="card-text">Creating a Twitch extension to better improve the user experience.</p>
          </div>
        </div>
       </div>
    
</section>