<section class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 services-title">
                        <div class="jumbotron jumbotron-fluid">
                             <h1 class="display-4">Services</h1>
                    </div>
                </div>
                <div class="container services-list">
                    <div class="row">
                        <div class="col-md-4 col-md-4 col-md-4">
                            <div class="services">
                                <div class="sevices-img  py-4">
                                    <img src="/Assets/images/web_developer.png" alt="Services-1" width="256" height="258">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Web Development</h5>
                                    <p class="card-text text-secondary">
                                        HTML, CSS, JavaScript,NodeJS,Express
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4 col-md-4">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="/Assets/images/programming.png" alt="Services-2" width="256" height="258">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Programming</h5>
                                    <p class="card-text text-secondary">
                                        C#, Java,<br> Python
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-4 col-lg-4">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="/Assets/images/cloud_database.jpeg" alt="Services-2" width="256" height="258">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Databases</h5>
                                    <p class="card-text text-secondary">
                                        Oracle <br>SQL
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        