<section class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 services-title">
                        <div class="jumbotron jumbotron-fluid">
                             <h1 class="display-4">Services</h1>
                    </div>
                </div>
                <div class="container services-list">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img  py-4">
                                    <img src="./img/services/s1.png" alt="Services-1">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Web Development</h5>
                                    <p class="card-text text-secondary">
                                        HTML, CSS, JavaScript,NodeJS,Express
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="./img/services/s2.png" alt="Services-2">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto">Programming</h5>
                                    <p class="card-text text-secondary">
                                        C#, Java, Python
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="./img/services/s3.png" alt="Services-3">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto">Databases</h5>
                                    <p class="card-text text-secondary">
                                        Oracle SQL
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        