<!-- /*
* name : Seungkoo Kim
* id : 301150666
* file Name : about.ejs
* date : 23/10/2021
*/ -->
<style>
    .mt-4 {
      margin: 0;
      position: absolute;
      top: 40%;
      right: 20%;
      
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); 
    }
    </style>
    <body style="background-color: beige;">
      
      <div class="container p-3 my-3 border" style="box-shadow: 1px 1px 5px 3px">
        <h3> <Welcome></h3>
        <h3><p><b><center>Welcome to <%= title %>!</center></b></h3></p>
    
        <div class="box border"><p><img src="/Assets/images/me.png" width="500px" height="550px"><p style="font-family:courier;"><p align="right"> Hello, I am Seungkoo Kim, a student from Centennial College. </br> 
        I'm currently in the Software Engineering Program.<br>Developing website is one of my favorite part of it.</p>
        <div class="mt-4">
          <p class="h4 text-black" align="right"><i class="fas fa-level-down-alt"></i> Click below to download resume.</p>
           <a href="/Assets/images/CV.doc" download = "Resume" style="text-decoration: none">
                <button type="button" align="right" class="btn text-dark btn-lg bg-white">Download PDF <i class="fa fa-download" download></i></button>
           </a>
      </div>
    
      <br>
        
      
      <a href="/" class="btn btn-primary">Home!</a>
      <a href="/about" class="btn btn-primary">About me!</a>
      <a href="/projects" class="btn btn-primary">Projects!</a>
      <a href="/services" class="btn btn-primary">Services!</a>
      <a href="/contact" class="btn btn-primary">Contact!</a>
      <a href="/contactlist" class="btn btn-primary">Contact List!</a>
      <a href="/login" class="btn btn-primary">Login!</a>
      </div>
    </div>

            
            
