<!-- /*
* name : Seungkoo Kim
* id : 301150666
* file Name : home.ejs
* date : 23/10/2021
*/ -->
<body style="background-color: beige;"></body>
<div class="container p-3 my-3 border" style="box-shadow: 1px 1px 5px 3px">
    <h3> <Welcome></h3>
    <h3><p><b><center>Welcome to <%= title %>!</center></b></h3></p>
    
    <center><p style="font-family:courier;">"My mission is to improve my technical skills on Software Engineering!"

    </p></center>

    
  </br>
    <a href="/" class="btn btn-primary">Home!</a>
    <a href="/about" class="btn btn-primary">About me!</a>
    <a href="/projects" class="btn btn-primary">Projects!</a>
    <a href="/services" class="btn btn-primary">Services!</a>
    <a href="/contact" class="btn btn-primary">Contact!</a>
    <a href="/contactlist" class="btn btn-primary">Contact List!</a>
    <a href="/login" class="btn btn-primary">Login!</a>
  </div>
</div>

  </section>