<!-- /*
* name : Seungkoo Kim
* id : 301150666
* file Name : services.ejs
* date : 23/10/2021
*/ -->
<body style="background-color: beige;">

    <div class="container p-3 my-3 border" style="box-shadow: 1px 1px 5px 3px">
      <h3><p><b><center>Welcome to <%= title %>!</center></b></h3></p>
    
    <div class="container p-3 my-3 border" style="box-shadow: 1px 1px 5px 3px">
      <center><p style="font-family:courier;">Web Application</center></p>
      
      <img src="/Assets/images/app.png" style="width: 100%;" height="100%";></a>
      
      <p style="font-family:courier;"><li>We offer a wide range of a web application </li>
        <li>It refers to a kind of computer program that uses the Internet as an interactive way of talking to users using browsers and web technologies. </li>
        <li>According to the user's request, it is available to send messages to other users on the web.</li>
        <li>To simply compare websites, it can be divided into whether there are special applications (or programs) written in the internal programming language.</li> </p>
  
    <hr>
    
      <center><p style="font-family:courier;">Programming Language</center></p>
      
      <img src="/Assets/images/gen.png" style="width: 100%;" height="100%";></a>
      
      <p style="font-family:courier;"><li>We offer a wide range of a programming language </li>
        <li>Programming language is a language used to create computer programs. </li>
        <li>Programming language acts as a means of communication between computers that only understand machine language and humans who speak natural language.</li>
        <li>We especially offer JavaScript language a lot.</li> </p>
  
  
      
    </br>
    <a href="/" class="btn btn-primary">Home!</a>
    <a href="/about" class="btn btn-primary">About me!</a>
    <a href="/projects" class="btn btn-primary">Projects!</a>
    <a href="/services" class="btn btn-primary">Services!</a>
    <a href="/contact" class="btn btn-primary">Contact!</a>
    <a href="/contactlist" class="btn btn-primary">Contact List!</a>
    <a href="/login" class="btn btn-primary">Login!</a>
    </div>
  </div>