<!-- /*
* name : Seungkoo Kim
* id : 301150666
* file Name : footer.ejs
* date : 23/10/2021
*/ -->
<hr>
<footer>
  <p style="font-family:courier;">&copy; Seungkoo Kim(301 150 666) COMP229 Web Application Development (SEC. 008)</p>
      <p style="font-family:courier;">Contact webmaster for more information. +82)10-1234-5678</p>
</footer>
<!--Scripts-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>  
</body>
</html>